body {
  display: flex;
  background: grey;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}

.container {
  padding: 0;
  width: 100%;
}

nav, main, footer {
  width: 100%;
  flex-direction: row;
}

h1 {
  font-size: 2em;
  color: white;
}

h2 {
  font-size: 1em;
  margin: 0;
}

h3 {
  margin: auto;
  padding: 3px;
}

/*** NAV STYLING ***/
nav {
  display: flex;
}

.main-nav {
  justify-content: space-around;
}

.main-nav a {
  color: white;
  font-size: .8em;
  text-align: center;
  padding: 0 2px;
  max-width: 100%;
}

/*** BOARD STYLING ***/

.board {
  display: flex;
  flex-wrap: wrap;
}

.game-button {
  width: 50%;
  height: 125px;
  border-radius: 10px;
}

#blue {
  background-color: blue;
  order: 5;
  border-bottom-right-radius: 70%;
}

#green {
  background-color: green;
  order: 2;
  border-top-left-radius: 70%;
}

#red {
  background-color: red;
  order: 3;
  border-top-right-radius: 70%;
}

#yellow {
  background-color: yellow;
  order: 4;
  border-bottom-left-radius: 70%;
}

#start-button {
  order: 6;
  width: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 30%;
  margin: 7px auto 0;
}

/*** Game info pane styling ***/


.game-info {
  width: 100%;
  text-align: center;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 5px;
  margin-bottom: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#high-score, #current-score {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}


#high-score {
  order: 0;
}

#game-name {
  order: 1;
  flex-basis: 33%;
  margin: auto 0;
  text-align: center;
}

#current-score {
  order: 2;
}


/*** Footer styling ***/

footer h4 {
  width: 100%;
  text-align: center;
  font-size: .75em;
  padding: 2% 20% 0;
  border-top: 1px solid black;
}

footer nav {
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

footer nav a {
  width: 33%;
  text-align: center;
  color: white;
}
